.film-wrapper{
    display: flex;
    max-height:142px;
    margin-bottom:15px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(10, 10, 10, 0.2);
}
.film-wrapper  .film-img{
    position: relative;
    top: -8px;
    left: 8px;
    min-height: 142px;
    max-width:100px;
    margin-right:15px;
    padding-left:100px;
    box-shadow: 0 1px 5px rgba(10, 10, 10, 0.8);
    border-radius: 3px;
    /*overflow: hidden;*/
    
}
.film-wrapper  .film-img > img{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 3px;
}
.film-wrapper  .film-img > .rating{
    position: absolute;
    bottom:8px;
    right: -14px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    border-radius:50%;
    color:#fff;
    background: #39d0c0;
}
.film-wrapper > .film-info{
    flex: 1;
    padding:10px 0 8px;
    /*overflow: hidden;*/
}
.film-wrapper > .film-info .info-title{
    font-weight: 500;
    margin-bottom: 5px;
}
.film-wrapper > .film-info  .info-genres{
    font-size: 12px;
    color:#d6d6d6;
    margin-bottom: 3px;
}
.film-wrapper > .film-info  .info-genres> .genres-tag{
    /*display: block;*/
     margin-right:4px;
    background-color: #fda244;
    padding: 2px 8px;
    color: #fff;
    border-radius: 10px;
}
.film-wrapper > .film-info  .info-summary{
    width:100%;
    height:48px;
    line-height:16px;
    padding-top: 2px;
    font-size: 12px;
    color:#d6d6d6;
    overflow:hidden;
}
.film-wrapper > .film-info > .collect{
    display: flex;
    flex-direction: row-reverse;
    padding-right:4px;
    color:#d6d6d6;
}
.film-wrapper > .film-info > .collect .icon-wrapper{
    margin-left: 5px;
}
.film-wrapper > .film-info > .collect .iconfont {
    font-size: 18px;
}
.film-wrapper > .film-info > .collect .icon-hot.active{
    color:red;
}